@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700&subset=latin,cyrillic);
@font-face {
    font-family: 'fontawesome';
    src: url('../fonts/used/fontawesome-webfont.eot');
    src: url('../fonts/used/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/used/fontawesome-webfont.woff2') format('woff2'),
         url('../fonts/used/fontawesome-webfont.woff') format('woff'),
         url('../fonts/used/fontawesome-webfont.ttf') format('truetype'),
         url('../fonts/used/fontawesome-webfont.svg#novitonovaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*=====================================================================================================================*/
/*=====================================================================================================================*/
/*=====================================================================================================================*/
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


button, input, textarea, a, select, button,
button:hover, input:hover, textarea:hover, a:hover, select:hover, button:hover,
button:active, input:active, textarea:active, a:active, select:active, button:active,
button:focus, input:focus, textarea:focus, a:focus, select:focus, button:focus{
    outline: none !important;
}

figure {
  margin: 0;
  padding: 0; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.unstyled-textarea, .unstyled-input {
  background: none;
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
  width: auto; }

.unstyled-textarea {
  resize: none; }

.clear-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none; }

.no-marg {
  margin: 0 !important; }

.no-pad {
  padding: 0; }

.exact-fit {
  margin: 0;
  padding: 0; }

.no-js body:after {
  display: block;
  position: fixed;
  top: 5px;
  left: 5%;
  right: 5%;
  padding: 10px 0;
  background: firebrick;
  color: lightyellow;
  text-align: center;
  font-weight: bold;
  z-index: 100500;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  content: 'This page requires JavaScript for correct performance'; }

.disable-hover, .disable-hover * {
  pointer-events: none !important; }

.ir {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  left: -1000%;
  top: -1000%;
  text-indent: -1000%; }

img.r {
  width: 100%;
  height: auto;
  display: block; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.left {
  text-align: left; }

.v-top {
  vertical-align: top; }

.v-middle {
  vertical-align: middle; }

.v-bottom {
  vertical-align: bottom; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.pull-clear {
  clear: both; }
  .pull-clear:after {
    display: table;
    content: '';
    clear: both; }

.block {
  display: block !important; }

.inline {
  display: inline-block !important; }

.table {
  display: table; }

.list-item {
  display: list-item; }

.cell {
  display: table-cell; }

.black {
  color: #000000; }

.white {
  color: #ffffff; }

.bg-black {
  background-color: #000000; }

.bg-white {
  background-color: #ffffff; }

/* -----------------------------------------------------
	fonts weight
*/
.light {
  font-weight: 100; }

.semilight {
  font-weight: 300; }

.regular {
  font-weight: 400; }

.bold {
  font-weight: 600; }

.boldest {
  font-weight: 900; }

.lowercase {
  text-transform: lowercase; }

.uppercase {
  text-transform: uppercase; }

.underline {
  text-decoration: underline; }

a.underline:hover {
  text-decoration: none; }

.rev-underline {
  text-decoration: none; }

a.rev-underline:hover {
  text-decoration: underline; }

/* -----------------------------------------------------
	fonts size
*/
.font-6 {
  font-size: 6px; }

.font-7 {
  font-size: 7px; }

.font-8 {
  font-size: 8px; }

.font-9 {
  font-size: 9px; }

.font-10 {
  font-size: 10px; }

.font-11 {
  font-size: 11px; }

.font-12 {
  font-size: 12px; }

.font-13 {
  font-size: 13px; }

.font-14 {
  font-size: 14px; }

.font-15 {
  font-size: 15px; }

.font-16 {
  font-size: 16px; }

.font-17 {
  font-size: 17px; }

.font-18 {
  font-size: 18px; }

.font-19 {
  font-size: 19px; }

.font-20 {
  font-size: 20px; }

.font-21 {
  font-size: 21px; }

.font-22 {
  font-size: 22px; }

.font-23 {
  font-size: 23px; }

.font-24 {
  font-size: 24px; }

.font-25 {
  font-size: 25px; }

.font-26 {
  font-size: 26px; }

.font-27 {
  font-size: 27px; }

.font-28 {
  font-size: 28px; }

.font-29 {
  font-size: 29px; }

.font-30 {
  font-size: 30px; }

.font-31 {
  font-size: 31px; }

.font-32 {
  font-size: 32px; }

.font-33 {
  font-size: 33px; }

.font-34 {
  font-size: 34px; }

.font-35 {
  font-size: 35px; }

.font-36 {
  font-size: 36px; }

.font-37 {
  font-size: 37px; }

.font-38 {
  font-size: 38px; }

.font-39 {
  font-size: 39px; }

.font-40 {
  font-size: 40px; }

.font-41 {
  font-size: 41px; }

.font-42 {
  font-size: 42px; }

.font-43 {
  font-size: 43px; }

.font-44 {
  font-size: 44px; }

.font-45 {
  font-size: 45px; }

.font-46 {
  font-size: 46px; }

.font-47 {
  font-size: 47px; }

.font-48 {
  font-size: 48px; }

.font-49 {
  font-size: 49px; }

.font-50 {
  font-size: 50px; }

.font-51 {
  font-size: 51px; }

.font-52 {
  font-size: 52px; }

.font-53 {
  font-size: 53px; }

.font-54 {
  font-size: 54px; }

.font-55 {
  font-size: 55px; }

.font-56 {
  font-size: 56px; }

.font-57 {
  font-size: 57px; }

.font-58 {
  font-size: 58px; }

.font-59 {
  font-size: 59px; }

.font-60 {
  font-size: 60px; }

/* -----------------------------------------------------
	sizes array of indents
*/
.island-5 {
  padding: 5px; }

.island-10 {
  padding: 10px; }

.island-15 {
  padding: 15px; }

.island-20 {
  padding: 20px; }

.island-25 {
  padding: 25px; }

.island-30 {
  padding: 30px; }

.island-35 {
  padding: 35px; }

.island-40 {
  padding: 40px; }

/* -----------------------------------------------------
	PADDINGS
*/
.pad-h5 {
  padding-left: 5px;
  padding-right: 5px; }

.pad-h10 {
  padding-left: 10px;
  padding-right: 10px; }

.pad-h15 {
  padding-left: 15px;
  padding-right: 15px; }

.pad-h20 {
  padding-left: 20px;
  padding-right: 20px; }

.pad-h25 {
  padding-left: 25px;
  padding-right: 25px; }

.pad-h30 {
  padding-left: 30px;
  padding-right: 30px; }

.pad-h35 {
  padding-left: 35px;
  padding-right: 35px; }

.pad-h40 {
  padding-left: 40px;
  padding-right: 40px; }

.pad-v5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.pad-v10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.pad-v15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.pad-v20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.pad-v25 {
  padding-top: 25px;
  padding-bottom: 25px; }

.pad-v30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.pad-v35 {
  padding-top: 35px;
  padding-bottom: 35px; }

.pad-v40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.pad-top-5 {
  padding-top: 5px; }

.pad-top-10 {
  padding-top: 10px; }

.pad-top-15 {
  padding-top: 15px; }

.pad-top-20 {
  padding-top: 20px; }

.pad-top-25 {
  padding-top: 25px; }

.pad-top-30 {
  padding-top: 30px; }

.pad-top-35 {
  padding-top: 35px; }

.pad-top-40 {
  padding-top: 40px; }

.pad-bot-5 {
  padding-bottom: 5px; }

.pad-bot-10 {
  padding-bottom: 10px; }

.pad-bot-15 {
  padding-bottom: 15px; }

.pad-bot-20 {
  padding-bottom: 20px; }

.pad-bot-25 {
  padding-bottom: 25px; }

.pad-bot-30 {
  padding-bottom: 30px; }

.pad-bot-35 {
  padding-bottom: 35px; }

.pad-bot-40 {
  padding-bottom: 40px; }

.pad-bot-375 {
  padding-bottom: 375px; }

.pad-left-5 {
  padding-left: 5px; }

.pad-left-10 {
  padding-left: 10px; }

.pad-left-15 {
  padding-left: 15px; }

.pad-left-20 {
  padding-left: 20px; }

.pad-left-25 {
  padding-left: 25px; }

.pad-left-30 {
  padding-left: 30px; }

.pad-left-35 {
  padding-left: 35px; }

.pad-left-40 {
  padding-left: 40px; }

.pad-left-50 {
    padding-left: 50px; }

.pad-left-130 {
    padding-left: 130px; }

.pad-right-5 {
  padding-right: 5px; }

.pad-right-10 {
  padding-right: 10px; }

.pad-right-15 {
  padding-right: 15px; }

.pad-right-20 {
  padding-right: 20px; }

.pad-right-25 {
  padding-right: 25px; }

.pad-right-30 {
  padding-right: 30px; }

.pad-right-35 {
  padding-right: 35px; }

.pad-right-40 {
  padding-right: 40px; }

.pad-right-50 {
  padding-right: 50px; }

/* -----------------------------------------------------
	MARGINS
*/
.marg-5 {
  margin: 5px; }

.marg-10 {
  margin: 10px; }

.marg-15 {
  margin: 15px; }

.marg-20 {
  margin: 20px; }

.marg-25 {
  margin: 25px; }

.marg-30 {
  margin: 30px; }

.marg-35 {
  margin: 35px; }

.marg-40 {
  margin: 40px; }

.marg-h5 {
  margin-left: 5px;
  margin-right: 5px; }

.marg-h10 {
  margin-left: 10px;
  margin-right: 10px; }

.marg-h15 {
  margin-left: 15px;
  margin-right: 15px; }

.marg-h20 {
  margin-left: 20px;
  margin-right: 20px; }

.marg-h25 {
  margin-left: 25px;
  margin-right: 25px; }

.marg-h30 {
  margin-left: 30px;
  margin-right: 30px; }

.marg-h35 {
  margin-left: 35px;
  margin-right: 35px; }

.marg-h40 {
  margin-left: 40px;
  margin-right: 40px; }

.marg-v5 {
  margin-top: 5px;
  margin-bottom: 5px; }

.marg-v10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.marg-v15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.marg-v20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.marg-v25 {
  margin-top: 25px;
  margin-bottom: 25px; }

.marg-v30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.marg-v35 {
  margin-top: 35px;
  margin-bottom: 35px; }

.marg-v40 {
  margin-top: 40px;
  margin-bottom: 40px; }

.marg-top--10 {
    margin-top: -10px; }

.marg-top-3 {
    margin-top: 3px; }

.marg-top-5 {
  margin-top: 5px; }

.marg-top-10 {
    margin-top: 10px !important; }

.marg-top-12 {
    margin-top: 12px !important; }

.marg-top-15 {
  margin-top: 15px; }

.marg-top-20 {
  margin-top: 20px; }

.marg-top-25 {
  margin-top: 25px; }

.marg-top-30 {
  margin-top: 30px; }

.marg-top-35 {
  margin-top: 35px; }

.marg-top-40 {
  margin-top: 40px; }

.marg-top-50 {
  margin-top: 50px; }

.marg-top-140 {
  margin-top: 140px; }

.marg-bot-5 {
  margin-bottom: 5px; }

.marg-bot-10 {
  margin-bottom: 10px; }

.marg-bot-15 {
  margin-bottom: 15px; }

.marg-bot-20 {
  margin-bottom: 20px; }

.marg-bot-25 {
  margin-bottom: 25px; }

.marg-bot-30 {
  margin-bottom: 30px; }

.marg-bot-35 {
  margin-bottom: 35px; }

.marg-bot-40 {
  margin-bottom: 40px; }

.marg-left-5 {
  margin-left: 5px; }

.marg-left-10 {
  margin-left: 10px; }

.marg-left-15 {
  margin-left: 15px; }

.marg-left-20 {
  margin-left: 20px; }

.marg-left-25 {
  margin-left: 25px; }

.marg-left-30 {
  margin-left: 30px; }

.marg-left-35 {
  margin-left: 35px; }

.marg-left-40 {
  margin-left: 40px; }

.marg-left-80 {
    margin-left: 80px; }

.marg-left-130 {
    margin-left: 130px; }

.marg-left-200 {
    margin-left: 200px; }

.marg-right-5 {
  margin-right: 5px; }

.marg-right-10 {
  margin-right: 10px; }

.marg-right-15 {
  margin-right: 15px; }

.marg-right-20 {
  margin-right: 20px; }

.marg-right-25 {
  margin-right: 25px; }

.marg-right-30 {
  margin-right: 30px; }

.marg-right-35 {
  margin-right: 35px; }

.marg-right-40 {
  margin-right: 40px; }

/*=====================================================================================================================*/
/*=====================================================================================================================*/
/*=====================================================================================================================*/
.f-roboto-b{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.f-roboto-l{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.f-roboto-i{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
}
.f-lora-n{
    font-family: 'Lora', serif;
}
.f-nove-r{
  font-family: 'novitonovaregular';
}
.f-nove-t{
  font-family: 'novitonovathin';
}
.f-comic{
  font-family: 'Comic Sans MS', sanse-serif;
}

/*=====================================================================================================================*/
/*=====================================================================================================================*/
/*=====================================================================================================================*/
.link-1{
    color: #000000;
    border-bottom: 1px solid #000000;
}
.link-1:hover{
    color: #000000;
    border-bottom: 1px solid transparent;
    text-decoration: none;
}
.link-2{
    color: #000000;
    border-bottom: 1px solid transparent;
}
.link-2:hover{
    color: #000000;
    border-bottom: 1px solid #000000;
    text-decoration: none;
}
.link-3{
    color: #fff;
    border-bottom: 1px solid transparent;
    text-transform: uppercase;
}
.link-3:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
    text-decoration: none;
}
.link-4{
    color: #049e49;
    border-bottom: 1px dotted #049e49;
}
.link-4:hover{
    color: #049e49;
    border-bottom: 1px dotted transparent;
    text-decoration: none;
}
.color-1{
    color: #ababab;
}
.color-2{
    color: #15a455;
}
.color-3{
    color: #211c1b;
}
.w90p{
    width: 90%;
}
.w78p{
    width: 78%;
}
.w100p{
    width: 100%;
}
.w310{
    width: 310px;
}
.w150{
    width: 150px;
}
.h40{
    height: 40px;
}
.w180{
    width: 180px;
}
.rel-zet{
  position: relative;
  z-index: 1;
}
.line-h-38{
  line-height: 38px;
}
.letter-s--1{
    letter-spacing: -1px;
}




.header, .footer{
    width: 100% !important;
}
.header, .footer, .container, .main-cabinet{
    min-width: 1140px;
    z-index: 1;
    position: relative;
}
.main-content, .header-content, .footer-content, .cabinet,
.index-content-5, .index-content-4, .index-content-3, .index-content-2, .index-content-1{
    min-width: 1140px;
    max-width: 1920px;
    margin: 0 auto;
}
.nav{
    z-index: 1;
    position: relative;
}
.header-content{
    margin: 60px auto 0;
    color: #ffffff;
}
.header{
    height: 180px;
    background: url("../img/header-bg.png") 0 0 repeat-x;
}
.logo{
    width: 238px;
    height: 85px;
    background: url("../img/logo.png") no-repeat;
    margin: -18px auto 0;
}
.logo2{
    width: 238px;
    height: 85px;
    background: url("../img/logo.png") no-repeat;
    margin: 0 auto 0;
}
.video-box{
    margin-top: 75px;
    background: #eeeeee;
}
.video-box-text{
    padding: 30px 50px;
}
.video-box iframe{
    width: 100%;
    min-height: 500px;
    max-height: 840px;
    margin-bottom: -5px;
}
.share-box{
    background: #eeeeee;
    padding: 15px 20px 13px 50px;
}
.shate-box-line{
    position: absolute;
    top: -17px;
    left: 0;
    width: 4px;
    height: 13px;
    background: #049e49;
}
.input, .input2{
    background: #fff url(../img/input-bg.jpg) 0 0 repeat-x;
    border: 1px solid #d3d3d3;
    padding: 4px 5px;
}
.input2{
    padding: 7px 10px;
}
.cabinet-input{
    background: #fff url(../img/input-bg.jpg) 0 0 repeat-x;
    border: 1px solid #d3d3d3;
    min-width: 220px;
    padding: 7px 10px;
}
.cabinet-input:focus{
    background: #fff url(../img/input-bg2.jpg) 0 0 repeat-x;
    border: 1px solid #049e49;
}
.textarea{
    background: #fff url(../img/input-bg.jpg) 0 0 repeat-x;
    border: 1px solid #d3d3d3;
    padding: 4px 5px;
    height: 100px;
    width: 100%;
    resize: none;
}
.submit-1{
    min-width: 220px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    background: #049e49;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    display: inline-block !important;
    text-transform: uppercase;
}
.submit-1:hover{
    color: #ffffff;
    text-decoration: none;
}
.rating-plus, .rating-minus{
    width: 17px;
    height: 17px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #ababab;
    color: #ababab;
    text-align: center;
    line-height: 16px;
    display: inline-block;
    cursor: pointer;
}
.input-search{
    background: none;
    color: #000000;
    border: none;
    padding: 5px 20px;
}
.submit-2{
    content: "";
    position: absolute;
    left: 3px;
    top: 7px;
    background: url("../img/search.png") no-repeat center;
    width: 11px;
    height: 14px;
    border: none;
}
.right-aside{
    margin-top: 75px;
}
.right-aside-content{
    background: #eeeeee;
    padding: 20px 0px 20px 20px;
}
.li-circle{
    width: 37px;
    height: 37px;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    color: #000000;
    padding-top: 2px;
}
.btn-1, .btn-2{
    padding: 2px 10px;
    color: #000000;
    font-size: 14px;
    border: 1px solid #eeeeee;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: none;
    display: block;
}
.btn-2{
    border: 1px solid transparent;
}
.footer{
    background: url(../img/footer-bg.png) 0 0 repeat-x;
    width: 100%;
    height: 294px;
    margin-top: 50px;
}
.footer-content{
    margin-top: 90px;
}

/*========================================================================================================================*/
/*========================================================================================================================*/
/*========================================================================================================================*/
.cabinet-img{
    border-left: 1px solid #fbfbfb;
    position: relative;
    cursor: pointer;
    padding-left: 24px;
}
.cabinet-img-hide{
  width: 150px;
  position: absolute;
  top: 50px;
    left: -71px;
  background: #ffffff;
}
.cabinet-img-hide a{
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  padding: 0px 20px;
  color: black;
  -webkit-transition: all 500ms;
   -moz-transition: all 200ms;
    -ms-transition: all 200ms;
     -o-transition: all 200ms;
        transition: all 200ms;
  text-decoration: none;
  text-align: center;
}
.cabinet-img-hide a:hover{
  background: #049e49;
  color: white;
}
.cabinet-img:after{
    content: "";
    position: absolute;
    left: 4px;
    top: 22px;
    background: url(../img/photo-arr.png) no-repeat;
    width: 10px;
    height: 5px;
}
.news-img-box{
    position: relative;
}
.news-img-box-name{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.news-img-box-content{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 93%;
    height: 93%;
    margin: 10px;
    border: 2px solid rgba(255,255,255, 0.3);
}
.main-lock{
    background: url(../img/lock.png) no-repeat;
    width: 26px;
    height: 38px;
    margin: 0 auto;
}
.main-content-footer{
    background: url(../img/newsbg.jpg) center 5px no-repeat;
    position: relative;
    bottom: -80px;
    padding-bottom: 80px;
}
.log-in-form{
    margin-top: 40px;
    background: #ffffff;
    padding: 20px;
    -webkit-box-shadow: 0px 26px 99px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 26px 99px -22px rgba(0,0,0,0.75);
    box-shadow: 0px 26px 99px -22px rgba(0,0,0,0.75);
}
/*========================================================================================================================*/
/*========================================================================================================================*/
/*========================================================================================================================*/
.cabinet-out, .cabinet-photo{
    cursor: pointer;
}
.selectpicker{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(242,242,243,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(242,242,243,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(242,242,243,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(242,242,243,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(242,242,243,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(242,242,243,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f3', GradientType=0 );
}
.dropdown-menu{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: #ffffff;
}
.main-cabinet{
    background: url(../img/cabinet-bg1.jpg) 158% 0% no-repeat;
}
.cabinet{
    position: relative;
}
.cabinet-bg1{
    position: absolute;
    bottom: -150px;
    right: -450px;
    background: url(../img/cabinet-bg1.jpg) 0 0 no-repeat;
    width: 674px;
    height: 813px;
}
.cabinet-bg2{
    position: absolute;
    bottom: -85px;
    right: 355px;
    background: url(../img/cabinet-bg2.jpg) 0 0 no-repeat;
    width: 97px;
    height: 104px;
}
.cabinet-bg3{
    position: absolute;
    bottom: -100px;
    left: -100px;
    background: url(../img/cabinet-bg3.jpg) 0 0 no-repeat;
    width: 269px;
    height: 287px;
}
.cabinet-bg4{
    position: absolute;
    bottom: 290px;
    left: -200px;
    background: url(../img/cabinet-bg4.jpg) 0 0 no-repeat;
    width: 299px;
    height: 236px;
}
.cabinet-bg5{
    position: absolute;
    top: 0px;
    left: 0px;
    background: url(../img/cabinet-bg5.jpg) 0 0 no-repeat;
    width: 169px;
    height: 106px;
}
/*========================================================================================================================*/
/*========================================================================================================================*/
/*========================================================================================================================*/
.index-content-1{
    position: relative;
    top: -110px;
    background:  url("../img/index38.png") no-repeat scroll 120% 45%,
    url("../img/index1.png") no-repeat scroll 100% 9%,
    url(../img/index-bg.jpg);
    padding-top: 110px;
    overflow: hidden;
}
.index-video{
  background: url(../img/index2.png) no-repeat;
  width: 648px;
  height: 508px;
    position: relative;
    left: -50px;
}
.index-video iframe{
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  margin: 71px 0 0 80px;
  width: 487px;
  height: 366px;
}
.index-pic3{
  position: relative;
  left: -450px;
  top: 180px;
}
.index-pic6{
    position: relative;
    left: -60px;
}
.index-pic1{
  background: url(../img/index1.png) no-repeat;
  width: 199px;
  height: 371px;
  position: absolute;
  right: 0px;
  top: 200px;
}
.index-pic38{
  background: url(../img/index38.png) no-repeat;
  width: 357px;
  height: 322px;
  position: absolute;
  right: -400px;
  top: 650px;
}
.index-pic5{
  position: relative;
  top: 200px;
  left: -150px;
}
.index-pic6{
 /* position: relative;
  top: 50px;*/
/*  right: -350px;
  bottom: 0;*/
}
.index-content-2{
  background: url(../img/index7.jpg) center 0 no-repeat;
  width: 100%;
  height: 100%;
  min-height: 809px;
  position: relative;
  top: -420px;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
    z-index: 1;
}
.hr-2{
  height: 1px;
  width: 50px;
  background: #000;
}
.index-content-3{
    background: url("../img/index9.png") no-repeat scroll 113% 6%,
    url("../img/index11.jpg") no-repeat scroll 385% 26%,
    url("../img/index13.jpg") no-repeat scroll 157% 53%,
    url("../img/index15.png") no-repeat scroll 223% 83%;
  position: relative;
  top: -380px;
}
.index-pic8{
  background: url(../img/index8.png) 0 0 no-repeat;
  width: 189px;
  height: 211px;
  position: absolute;
  left: -250px;
  top: 100px;
}
.index-pic9{
  background: url(../img/index9.png) 0 0 no-repeat;
  width: 446px;
  height: 437px;
  position: absolute;
  right: -600px;
    top: 350px;
}
.index-pic39{
  background: url(../img/index39.png) 0 0 no-repeat;
  width: 345px;
  height: 757px;
  position: absolute;
    right: 0px;
  top: -290px;
    z-index: 2;
}
.index-pic10{
  background: url(../img/index10.png) 0 0 no-repeat;
  width: 626px;
  height: 917px;
  position: absolute;
    left: -200px;
  top: 325px;
}
.index-li{
  width: 520px;
  margin: 0 auto;
}
.index-pic11{
  background: url(../img/index11.jpg) 0 0 no-repeat;
  width: 1037px;
  height: 1031px;
  position: absolute;
  right: -1000px;
  top: 600px;
}
.index-pic12{
  background: url(../img/index12.jpg) 0 0 no-repeat;
  width: 1048px;
  height: 858px;
  position: absolute;
  left: -1000px;
  top: 1600px;
}
.index-pic13{
  background: url(../img/index13.jpg) 0 0 no-repeat;
  width: 718px;
  height: 877px;
  position: absolute;
  right: -750px;
  top: 2200px;
}
.index-pic14{
  background: url(../img/index14.jpg) 0 0 no-repeat;
  width: 714px;
  height: 770px;
  position: absolute;
  left: -750px;
  bottom: 1000px;
}
.index-pic15{
  background: url(../img/index15.png) 0 0 no-repeat;
  width: 887px;
  height: 887px;
  position: absolute;
  right: -880px;
  bottom: 300px;
}
.index-pic16{
  background: url(../img/index16.jpg) 0 0 no-repeat;
  width: 928px;
  height: 455px;
  position: absolute;
  left: -950px;
  bottom: 100px;
}
.index-content-4{
  background: url(../img/index17.jpg) center 0 no-repeat;
  width: 100%;
  height: 630px;
  position: relative;
  top: -240px;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  z-index: 1
}
.index-content-4-img{
  width: 264px;
  height: 382px;
}
.index-pic18{
 background: url(../img/index18.png) 0 0 no-repeat;
  width: 93px;
  height: 333px;
  position: absolute;
  left: -250px;
  top: 50px;
}
.index-pic19{
 background: url(../img/index19.png) 0 0 no-repeat;
  width: 168px;
  height: 275px;
  position: absolute;
  left: -200px;
  top: 220px;
}
.index-pic20{
  background: url(../img/index20.png) 0 0 no-repeat;
  width: 269px;
  height: 597px;
  position: absolute;
    left: -150px;
  top: 400px;
}
.index-pic21{
  background: url(../img/index21.png) 0 0 no-repeat;
  width: 98px;
  height: 125px;
  position: absolute;
    right: 0px;
    top: 330px;
}
.index-pic22{
  background: url(../img/index22.png) 0 0 no-repeat;
  width: 167px;
  height: 217px;
  position: absolute;
  right: 0px;
  top: 100px
}
.index-content-5{
  background: url("../img/index32.jpg") no-repeat scroll 124% 1%,
  url("../img/index34.jpg") no-repeat scroll 118% 46%,
  url("../img/index36.jpg") no-repeat scroll 140% 103%;
  position: relative;
  top: -185px;
}
.index-content-5-img{
  width: 300px;
  height: 217px;
}
.photo-caption{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 150px;
  height: 40px;
  line-height: 40px;
  background: rgba(0,0,0, 0.7);
  margin: 0 auto;
}
.index-form{
  background: url(../img/index31.jpg) 0 0 no-repeat;
  width: 806px;
  height: 626px;
  margin: 0 auto;
  padding: 40px 180px;
}
.index-form-input{
  margin: 25px auto 40px;
  width: 290px;
}
.index-vk, .index-fb, .index-tw{
  display: inline-block;
  width: 50px;
  height: 50px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  -webkit-border-radius: 25px;
  -ms-border-radius: 25px;
  border: 2px solid black;
  text-align: center;
  line-height: 46px;
  font-size: 30px;
  color: black;
  -webkit-transition: all 500ms;
   -moz-transition: all 200ms;
    -ms-transition: all 200ms;
     -o-transition: all 200ms;
        transition: all 200ms;
}
.index-vk:hover, .index-fb:hover, .index-tw:hover{
    border: 2px solid #049e49;
    background: #049e49;
    color: white;
}
.index-pic27{
  background: url(../img/index27.jpg) 0 0 no-repeat;
  width: 240px;
  height: 180px;
  position: absolute;
  left: -300px;
  top: 250px;
}
.index-pic28{
  background: url(../img/index28.jpg) 0 0 no-repeat;
  width: 189px;
  height: 471px;
  position: absolute;
  left: -200px;
  top: 500px;
}
.index-pic37{
  background: url(../img/index37.jpg) 0 0 no-repeat;
  width: 475px;
  height: 733px;
  position: absolute;
    left: -300px;
  top: 2000px;
}

.index-pic32{
  background: url(../img/index32.jpg) 0 0 no-repeat;
  width: 392px;
  height: 777px;
  position: absolute;
  right: -280px;
  top: -120px;
}
.index-pic33{
  background: url(../img/index33.jpg) 0 0 no-repeat;
  width: 137px;
  height: 375px;
  position: absolute;
    right: 0px;
    top: 730px;
}
.index-pic34{
  background: url(../img/index34.jpg) 0 0 no-repeat;
  width: 391px;
  height: 326px;
  position: absolute;
    right: -250px;
  top: 950px;
}
.index-pic36{
  background: url(../img/index36.jpg) 0 0 no-repeat;
  width: 502px;
  height: 1060px;
  position: absolute;
  right: -150px;
  top: 1500px;
}
/*========================================================================================================================*/
/*========================================================================================================================*/
/*========================================================================================================================*/
.index-footer{
  margin-top: -90px;
}
.index-footer .footer-content{
    margin-top: 0;
}
.b-play{
    background: url(../img/b-play.png) 0 0 no-repeat;
    width: 44px;
    height: 44px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -22px 0 0 -22px;
}
.s-play{
    background: url(../img/s-play.png) 0 0 no-repeat;
    width: 12px;
    height: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -7px 0 0 -6px;
}
.isotope-item {
    width: 33.33%;
    box-sizing: border-box;
    padding: 10px;
}
.small-imj-border{
    border: 4px solid #ebebeb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.index-footer .footer-content:not(*:root) {
    margin-top: 90px !important;
}
/*========================================================================================================================*/
/*========================================================================================================================*/
/*========================================================================================================================*/
@media (min-width: 1600px){
    .index-content-1{
        background:  url("../img/index38.png") no-repeat scroll 100% 45%,
        url("../img/index1.png") no-repeat scroll 100% 9%,
        url(../img/index-bg.jpg);
    }
    .index-content-3{
        background: url("../img/index9.png") no-repeat scroll 101% 6%,
        url("../img/index11.jpg") no-repeat scroll 162% 26%,
        url("../img/index13.jpg") no-repeat scroll 157% 53%,
        url("../img/index15.png") no-repeat scroll 118% 83%;
        position: relative;
        top: -380px;
    }
    .index-content-5{
        background: url("../img/index32.jpg") no-repeat scroll 105% 1%,
        url("../img/index34.jpg") no-repeat scroll 104% 46%,
        url("../img/index36.jpg") no-repeat scroll 112% 103%;
        position: relative;
        top: -185px;
    }
    .main-cabinet{
        background: url(../img/cabinet-bg1.jpg) 117% 0% no-repeat;
    }
}
@media only screen and (min-device-width: 220px) and (max-device-width: 900px){
    .main-cabinet {
        background: url(../img/cabinet-bg1.jpg) 158% 26% no-repeat;
    }
}


